*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, #e20066, #e200e2);
  background-repeat: no-repeat;
}

#home-page-header {
  font-size: 1.6rem;
  padding: 2rem;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

#style-nav ul {
  list-style-type: none;
  width: 50rem;
  display: flex;
  flex-grow: 5;
  justify-content: space-between;
}

#style-nav a {
  text-decoration: none;
  color: #fff;
}
